body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  color: #333;
  background-color: #f4f4f9;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

button, .button {
  background-color: lightgray;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover, .button:hover {
  background-color: gray;
}

input[type="submit"] {
  background-color: lightgray;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  max-width: 400px;
}

input[type="submit"]:hover {
  background-color: gray;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: left;
}

table th, table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

table th {
  background-color: gray;
  color: white;
  font-weight: bold;
}