<html>
    <head>
        <title>User Data Table</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
     <body>
        <form action="/submit" method="post">
            <label for="namefield">Name:</label>
            <input type="text" id="namefield" name="name1">
            <input type="text" id="namefield" name="name2">

            <label for="agefield">Age:</label>
            <input type="number" id="agefield" name="age1">
            <input type="number" id="agefield" name="age2">
            <input type="submit" value="Submit">
        </form>
     </body>
</html>
