<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>

<body>
  <h1>User Data Table</h1>
  {% for row in data %}}
  <h2>{{ row.fullname }}</h2>
    <table>
        <tr>
            <th>Commit Hash</th>
            <th>Author</th>
	    <th>Date</th>
	    <th>Message</th>
        </tr>
        {% for commit in row.commits %}
        <tr>
            <td>{{ commit.commit_hash }}</td>
            <td>{{ commit.author }}</td>
	    <td>{{ commit.date }}</td>
	    <td>{{ commit.message }}</td>
        </tr>
        {% endfor %}
    </table>
   {% endfor %}
</body>
</html>
